*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
.lt_content .cate_left{
    width: 90px;
    height: 100%;
    float: left;
    overflow: hidden;
}
.lt_content .cate_left ul{
    width: 100%;
}
.lt_content .cate_left ul li{
    height: 50px;
    width: 100%;
    line-height: 50px;
    text-align: center;
    background: #f3f4f5;
    border-bottom: 1px solid #ccc;
    border-right:  1px solid #ccc;
    border-top:  1px solid #ccc;

}
.lt_content .cate_left ul li a{
    display: block;
    font-size: 14px;
    color: #333;
}
.lt_content .cate_left ul li.now{
    border-right: none;
    border-bottom: none;
    background: #fff;
}
.lt_content .cate_left ul li.now a{
    color: orange;
}

/*二级分类*/
.cate_right{
    overflow: hidden;
    padding: 10px;
}
.cate_right ul{
    width: 100%;
}
.cate_right ul li{
    float: left;
    width: 33.33%;
}
.cate_right ul li a{
    display: block;
    text-align: center;
}
.cate_right ul li a img{
    width: 60px;
}












